.first__ul__button {
    list-style-type: none;
    text-align: left;
    margin: 0 0 15px 0;
    display: inline-block;
}

.first__ul__li__button {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 70px;
    margin: 0 1px;
    border-radius: 4px;
    background: #CF4231;
    padding: 8px;
    cursor: pointer;
    color: #EDEDED;
}

.first__ul__li__button img {
    display: block;
    margin: 0 auto;
}

.first__ul__li__button:hover {
    background: #4CB864;
}

.statistics__header {
    height: 30px;
    background: url("../img/headerbg.png");
    width: 100%;
    border-radius: 4px;
    position: relative;
}

.statistics__header_stat {
    position: absolute;
    top: 4px;
    left: 5px;
    font-weight: bold;
    color: #F9F1F1;
}

.statistics__header_img {
    position: absolute;
    right: 2px;
    top: -1px;
}

.statistics {
    border-radius: 4px;
    width: 95%;
    margin: 5px auto;
}

.statistics__kurs {
    width: 300px;
    height: 15px;
    margin: -1px 0 0 -25px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 43px;
}

.statistics__kurs img {
    vertical-align: middle;
}

.cash {
    color: #454545;
    margin: 0 5px 0 2px;
    vertical-align: middle;
}

.statistics__ul {
    list-style-type: none;
    text-align: center;
}

.statistics__ul__li {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #AFAFAF, -2px -2px 10px #AFAFAF;
    background: url("../img/wavegrid.png");
    margin: 5px 10px 0;
    width: 49%;
    position: relative;
}

.statistics__ul__li tr {
    text-align: left;
}

.tableprices__plus, .tableprices__minus {
    width: 95%;
    margin: 5px auto -3px;
    border-collapse: inherit;
    border-radius: 4px;
    padding: 0 5px;
}

.tableprices__plus tr, .tableprices__minus tr {
    height: 40px;
    cursor: pointer;
     border-radius: 4px;
}

.tableprices__plus, .tableprices__minus td {
    padding: 0 10px;
}

.tableprices__plus td:last-child {
    text-align: right;
    color: #4D76B6;
    font-size: 14px;
    font-weight: bold;
}

.tableprices__plus td:first-child, .tableprices__minus td:first-child {
    color: #626262;
}

.tableprices__minus td:last-child {
    text-align: right;
    color: #F08A03;
    font-size: 14px;
    font-weight: bold;
}

.diagram, .filters {
    width: 90%;
    margin: 5px auto;   
    padding: 2px 2px;
}

.diagram > div {
    margin: 2px 0;
    height: 27px;
    border-radius: 4px;
    padding: 5px 2px 0 2px;
}

.diagram__header, .filters__header {
    border-radius: 4px;
    background: url("../img/headerbg.png");
    color: #F9F1F1;
    font-weight: bold;
    padding: 7px 3px 0;
    height: 18px;
    margin: 2px 0;
}

.filters__header {
    height: 26px;
    padding: 5px 3px 0;
}

.filters img, .diagram  img{
    border: 1px dashed;
    box-shadow: inset 0 0 1px;
}

.cat1 {
    width: 70%;
    background: #4BF069;
}

.cat2 {
    width: 90%;
    background: #6C7EF0;
}

.cat3 {
    width: 55%;
    background: #F0BE68;
}

.cat4 {
    width: 40%;
    background: #7042F0;
}

.cat5 {
    width: 60%;
    background: #F05550;
}

.form__plus__add, .form__plus__cancel,
.form__minus__add, .form__minus__cancel,
.form__send__add, .form__send__cancel,
.form__card__add, .form__card__cancel,
.form__plus__add__filters, .form__plus__cancel__filters,
.form__minus__add__filters, .form__minus__cancel__filters,
.add_cat_sch, .add_cat_plus, .add_cat_minus,
.apply_filter1, .apply_filter2 {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 4px; 
    width: 80px;
    height: 15px;
    text-decoration: none;
    color: #454545;
    font-size: 12px;
    padding: 7px;
    font-weight: bold;
    background: url("../img/wavegrid.png");
    box-shadow: 0px 2px 5px #949494;
}

.form__plus__add:hover, .form__plus__cancel:hover,
.form__minus__add:hover, .form__minus__cancel:hover,
.form__send__add:hover, .form__send__cancel:hover,
.form__card__add:hover, .form__card__cancel:hover,
.form__plus__add__filters:hover, .form__plus__cancel__filters:hover,
.form__minus__add__filters:hover, .form__minus__cancel__filters:hover,
.add_cat_sch:hover, .add_cat_plus:hover, .add_cat_minus:hover,
.apply_filter1:hover, .apply_filter2:hover {
    box-shadow: -1px -1px 5px #949494, 3px 3px 5px #949494;
}

.form__plus__add:active, .form__plus__cancel:active,
.form__minus__add:active, .form__minus__cancel:active,
.form__send__add:active, .form__send__cancel:active,
.form__card__add:active, .form__card__cancel:active,
.form__plus__add__filters:active, .form__plus__cancel__filters:active,
.form__minus__add__filters:active, .form__minus__cancel__filters:active,
.add_cat_sch:active, .add_cat_plus:active, .add_cat_minus:active,
.apply_filter1:active, .apply_filter2:active {
    box-shadow: inset 1px 2px 2px #949494;  
}

.form__plus,
.form__minus,
.form__send,
.form__card,
.form__plus__filters,
.form__minus__filters {
    text-align: center;
    height: 325px;
    width: 275px;
    margin: 5px auto;
    border-radius: 4px;
    background: url("../img/wavegrid.png");
    position: relative;
}

.form__plus__header,
.form__minus__header,
.form__send__header,
.form__card__header,
.form__plus__header__filters,
.form__minus__header__filters {
    height: 22px;
    width: 269px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: url("../img/headerbg.png");
    color: #F9F1F1;
    font-weight: bold;
    padding: 5px 3px;
}

.form__plus__blockButton,
.form__minus__blockButton,
.form__send__blockButton,
.form__card__blockButton,
.form__plus__blockButton__filters,
.form__minus__blockButton__filters {
    position: absolute;
    width: 180px;
    height: 30px;
    top: 290px;
    left: 40px;
}

.form__plus__blockInputs,
.form__minus__blockInputs,
.form__send__blockInputs,
.form__card__blockInputs,
.form__plus__blockInputs__filters,
.form__minus__blockInputs__filters {
    width: 250px;
    margin: 5px auto;
    border: 1px solid black;
}