.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    cursor: pointer;
}

.layer {
    position: fixed;
    top: 35%;
    z-index: 5;
    left: 40%;
}

.gif-layer {
    background: url(../img/ajax-loader.gif);
    width: 66px;
    height: 66px;
    top: 50%;
    left: 48%;
}