/*-----------------------------*/
/*ОБЪЕДИНЕНИЕ ОДИНАКОВЫХ СТИЛЕЙ*/
/*-----------------------------*/

.login__inputs input, .form__gain input,
.form__costs input, .form__send input,
.form__gain select, .form__costs select, .form__send select,
.history_operand_select, .history_sch_select {
    padding: 0 5px;
    height: 40px;
    width: 80%;
    margin: 2px 0;
    border: none;
    outline: none;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    color: #464646;
}

.dateFrom, .dateTo {
    width: 100px;
    border: none;
    outline: none;
    height: 29px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #464646;
    text-align: center;
}

.form__gain select {
    width: 84%;
}

.login, .logreg,
.main__header,
.main__footer,
.statistics__header,
.diagram__header, .filters__header,
.form__gain__header,
.form__costs__header,
.form__send__header,
.form__card__header,
.history-filter, .message, .mes,
.form__gain, .formCatEdit, .remHistForm {
    background: url("../img/headerbg.png");
    margin: 0 0 8px 0;
}

body,
.first__ul__li__button,
.statistics__ul__li,
.form__gain__add,
.form__costs__add,
.form__send__add,
.form__card__add,
.add_cat_sch, .add_cat_plus,
.apply_filter1, .apply_filter2, .more_history, .main__user-data__exit,
.tab_history li, .setting-wrap > div, div.removeStyle > div,
.buttonValuta, .formCatEdit a, .remHistForm a, .currency-radio {
	background: url("../img/wavegrid.png");
}

.main__tabs__content,
.main__tabs__ul__li,
.main__user-data {
	background: url("../img/libg.png");
}

