.login__inputs input, .form__gain input,
.form__costs input, .form__send input,
.form__gain select, .form__costs select, .form__send select,
.history_operand_select, .history_sch_select, .historyCount {
    padding: 0 5px;
    height: 40px;
    width: 80%;
    margin: 2px 0;
    border: none;
    outline: none;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    color: #464646;
}

.dateFrom, .dateTo {
    width: 100px;
    border: none;
    outline: none;
    height: 29px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #464646;
    text-align: center;
}

.form__gain select, .form__costs select, .form__send select {
    width: 84%;
}

.login, .logreg,
.main__header,
.main__footer,
.statistics__header,
.diagram__header, .filters__header,
.form__gain__header,
.form__costs__header,
.form__send__header,
.form__card__header,
.history-filter {
    background: url("../img/headerbg.png");
    margin: 0 0 8px 0;
}

body,
.first__ul__li__button,
.statistics__ul__li,
.form__gain__add, .form__gain__cancel,
.form__costs__add, .form__costs__cancel,
.form__send__add, .form__send__cancel,
.form__card__add, .form__card__cancel,
.add_cat_sch, .add_cat_plus, .add_cat_minus,
.apply_filter1, .apply_filter2,
#second li {
	background: url("../img/wavegrid.png");
}

.main__tabs__content,
.main__tabs__ul__li {
	background: url("../img/libg.png");
}