.login, .logreg,
.main__header,
.main__footer,
.statistics__header,
.diagram__header, .filters__header,
.form__plus__header,
.form__minus__header,
.form__send__header,
.form__card__header,
.form__plus__header__filters,
.form__minus__header__filters,
.history-filter {
	background: url("../img/headerbg.png");
}

body,
.first__ul__li__button,
.statistics__ul__li,
.form__plus__add, .form__plus__cancel,
.form__minus__add, .form__minus__cancel,
.form__send__add, .form__send__cancel,
.form__card__add, .form__card__cancel,
.form__plus__add__filters, .form__plus__cancel__filters,
.form__minus__add__filters, .form__minus__cancel__filters,
.add_cat_sch, .add_cat_plus, .add_cat_minus,
.apply_filter1, .apply_filter2,
.form__plus,
.form__minus,
.form__send,
.form__card,
.form__plus__filters,
.form__minus__filters,
#second li {
	background: url("../img/wavegrid.png");
}

.main__tabs__content,
.main__tabs__ul__li {
	background: url("../img/libg.png");
}