#second ul {
    list-style-type: none;
}

#second li {
    color: #464646;
    padding: 1px 0 1px 10px;
    box-shadow: 0 0 10px rgba(18, 46, 30, 0.5);
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    cursor: pointer;
    background: url("../img/wavegrid.png") 0 -6px;
    position: relative;
}

#second li:hover div.alignRight {
    margin-left: -20px;
}

#second li:hover .delete, #second li:hover .edit{
    display: inline-block;
}

.history-filter {
    background: url("../img/headerbg.png");
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(18, 46, 30, 0.5);
}

.history-filter select {
    width: 100px;
    margin: 0 5px 0 5px;
    vertical-align: middle;
}

.history-filter label {
    margin: 5px;
}

.history-filter label input {
    margin-right: 3px;
    vertical-align: middle;
}

#second li > div {
    display: inline-block;
    vertical-align: middle;
}

.history-content-wrap {
    width: 31%;
    line-height: .8;
    font-size: 14px;
}

#second img {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.alignCenter {
    text-align: center;
}

.marginL5 {
    margin-left: 5px;
    cursor: pointer;
}

.alignRight {
    text-align: right;
}

.history-date, .account {
    margin-bottom: 5px;
}

.color-income {
    color: #0E7C0E;
}

.color-consumption {
    color: #FF3532;
}

.color-send {
    color: #405CFA;
}

.currency {
    font-size: 12px;
}