.tab_history ul {
    list-style-type: none;
}

.tab_history li {
    color: #464646;
    padding: 1px 0 1px 10px;
    box-shadow: 0 0 10px rgba(18, 46, 30, 0.5);
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;

}

.tab_history li:hover div.alignRight {
    margin-left: -20px;
}

.tab_history li:hover .valute_remove {
    display: inline-block;
}

.history-filter {
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(18, 46, 30, 0.5);
}

.history_sch_select {
    width: 150px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    padding: 2px 5px;
}

.history-filter label {
    margin: 5px;
}

.history-filter label input {
    margin-right: 3px;
    vertical-align: middle;
}

.tab_history li > div {
    display: inline-block;
    vertical-align: middle;
}

.history-content-wrap {
    width: 31%;
    line-height: .8;
    font-size: 14px;
}

.hist, .comm {
    color: #816D66;
}

.sum {
    color: #F94327;
}

.tab_history img {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.alignCenter {
    text-align: center;
}

.marginL5 {
    margin-left: 5px;
    cursor: pointer;
}

.alignRight {
    text-align: right;
}

.account {
    margin-bottom: 5px;
}

.history-date {
    margin-bottom: 7px;
}

.sch, .cat {
   color: #085877;
}

.sch {
    margin: 5px 0 0 0;
}

.sum {
    margin: 4px 0;
}

.color-income {
    color: #1FB76B;
}

.color-consumption {
    color: #BA6022;
}

.color-send, .history-date {
    color: #47A2CA;
}

.currency {
    font-size: 12px;
}