#person .first__ul__li__button {
    position: relative;
}

#person .first__ul__li__button a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.setting-wrap {
    padding: 10px 0 5px 0;
    white-space: normal;
}

.setting-wrap > div {
    background: url(../img/wavegrid.png);
    display: inline-block;
    text-align: center;
    padding: 8px;
    min-width: 100px;
    border-radius: 4px;
    margin: 0 5px 5px 0;
    vertical-align: bottom;
}

.clearr {
    clear: both;
}

.setting-wrap > div:hover .edit, .setting-wrap > div:hover .delete, .inlineBlock {
    display: inline-block;
    cursor: pointer;
}

div.removeStyle {
    text-align: left;
    display: block;
    background: none;
    padding: 0;
}

div.removeStyle > div {
    display: inline-block;
    width: 350px;
    background: gray;
    padding: 8px;
    border-radius: 4px;
    background: url(../img/wavegrid.png);
}

div.removeStyle > div > span {
    vertical-align: middle;
}

.floatRight {
    float: right;
}

.create-block {
    margin-top: 10px;
}
/*
.create-image {
    border: 1px dashed;
    box-shadow: inset 0 0 1px;
}*/

.setting-wrap input[type=text], .create-block input[type=text]{
    width: 110px;
    font-size: 13px;
    padding: 6px 10px 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 4px;
    text-align: center;
    margin: 0 0 3px 0;
    text-overflow: ellipsis;
}

.block {
    display: block;
}

.edit, .delete {
    width:16px;
    height: 16px;
    position: absolute;
    display: none;
    top: 2px;
}

.edit {
    background: url(../img/edit.png);
    right: 20px;
}

.delete {
    background: url(../img/delete.png);
    right: 2px;
}

.relative > div {
    position: relative
}

div.marginR0 {
    margin-right: 0;
}

.addCategoryButton {
    display: block;
    width: auto;
}

.buttonValuta {
    cursor: pointer;
}

.formCatEdit {
    text-align: center;
    width: 220px;
    background:  url(../img/headerbg.png);
    border-radius: 4px;
    padding: 8px;
    position: relative;
}

.formCatEdit input {
    margin: 10px 0;
    padding: 0 5px;
    outline: none;
    height: 40px;
    width: 80%;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    color: #464646;
    text-align: center;
}

.formCatEdit a {
    background:  url(../img/wavegrid.png)
}

.closedForm {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
}